* {
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  position: relative;
  margin: 0;
}

.background {
  background-image: url("media/green.jpg");
  min-height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}

nav, footer {
  background-color: #000;
  color: #eee;
}

section {
  min-height: 200px;
  padding-top: 20px;
  min-height: 448px;

}

section:nth-child(even) {
  background-color: #404040;
  color: #fff;
  border-top: 1px solid #0b816b;
  border-bottom: 1px solid #0b816b;
}

section:nth-child(odd) {
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid #0b816b;
}

.nav-mobile {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.open {
  display: none;
  font-size: 25px;
  justify-content: flex-end;
  padding: 10px;
}

.menu {
  padding-left: 0;
  display: none;
  margin-top: -20px;
}

.menu li:hover {
  color: #756537;
}

@media only screen and (min-width: 550px) {
  .nav-mobile {
    display: none;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    width: 40%;
    cursor: pointer;
    margin-top: 20px;
  }
}

/*HEADER*/
header {
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

@media only screen and (min-width: 550px) {
  header {
    font-size: 30px;
  }
}

#myVideo {
  position: fixed;
  object-fit: ;
  right: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

.my-name {
  color: #756537;
}

.yellow {
  color: #0b816b;
}
.yellow:hover {
  color: #756537;
}

/* ABOUT */

#about {
  width: 100%;
  min-height: 200px;
}


/*MAY ADD IN LATER VERSION
 .icon-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin: 20px auto;
  font-family: 'Gentium Basic', serif;
}

@media only screen and (min-width: 550px) {
  .icon-row {
    width: 100%;
    justify-content: space-around;
    padding: 55px 0;
  }
}

.icon {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 85px;
  font-size: 30px;
} */
#about h2 {
  display: inline-block;
  border-bottom: 2px solid #fff;
}
.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-column {
  padding: 20px 40px;
  font-size: 18px;
  font-family:'Gentium Basic', serif;
}

.about-column:last-child {
  padding-bottom: 40px;
}

.img-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100px;
  margin: 0 auto;
}

.img-wrapper img {
  width: 112%;
  display: inline-block;
  margin-left: -18px;
  margin-top: -7px;
  //border: 1px solid black;

}

@media only screen and (min-width: 550px) {
  #about {
    padding-bottom: 40px;
  }
  .about-row {
    flex-direction: row;
    width: 100%;
  }
  .about-column {
    //width: 50%;
    padding: 0 20px;
    font-size: 20px;
  }

  .about-column:first-child {
    margin-top: -70px;
  }


  .img-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 130px;
  }
  .img-wrapper img {
    width: 116%;
    margin-left: -36px;

  }
}

/* PROJECTS */
.my-projects {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  font-family:'Gentium Basic', serif;
}

.project {
  margin: 20px;
  font-size: 16px;
  border: 1px solid black;
  min-height: 200px;
  background-color: #e6f9e6;
  color: #000;
  padding-bottom: 16px;
}

.project-img-wrapper {
  overflow: hidden;
  cursor: pointer;
}

.tech {
  margin-top: 10px;
  display: inline-block;
}

.project a {
  cursor: pointer;
}

.project-title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project img {
  width: 100%;
}

.project-description {
  padding: 0 20px;
}

.project-links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.project-links a {
  color: #4D4D4D
}

.project-links a:hover {
  color: #756537;
}

@media only screen and (min-width: 550px) {
  .my-projects {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
  .project {
    width: 40%;
    margin: 20px auto;
    padding: 30px;
  }
  .project-img-wrapper {
    height: 221px;
  }
}

@media only screen and (min-width: 768px) {
  .project {

  }
  .project-img-wrapper {

  }
}

@media only screen and (min-width: 992px) {
  .project-img-wrapper {
    height: 372px;
  }
}

/*CONTACT */
#contact {
  -webkit-clip-path: polygon(100% 0, 100% 85%, 0% 97%, 0 10%);
  clip-path: polygon(100% 0, 100% 85%, 0% 97%, 0 10%);

  padding-top: 48px;
}

.contact-me {
  margin-top: 130px;
}

.contact-form {
  max-width: 80vw;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  #contact {
    -webkit-clip-path: polygon(100% 0, 75% 50%, 50% 100%, 0 0);
    clip-path: polygon(100% 0, 75% 50%, 50% 100%, 0 0);
    height: 525px;
  }
}

.form-title {
  display: inline-block;
  border-bottom: 2px solid #fff;
  margin: 110px auto;
  font-family: cursive;
  font-size: 50px;
}
.form-title a.links {
  margin-left: 0;
}

.form-title:hover {
  border-bottom: 2px solid #756537;;
}

.contact-form {
  display: inline-block;
  margin: 40px auto;
}

.contact-form input {
  min-width: 350px;
  line-height: 2.5;
  margin: 5px 0;
  border: 1px solid #eee;
}

textarea {
  min-width: 350px;
  border: 1px solid #eee;
}

input.form-button {
  display: block;
  min-width: 0;
  background: #fff;
}


/* FOOTER */
footer {
  border-top: 1px solid #0b816b;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  min-height: 100px;
  font-size: 18px;
}
.footer-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.links:hover {
  color: #756537;
}
@media only screen and (min-width: 550px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .copywright {
    margin-left: 30px;
  }
  .footer-wrapper{
    justify-content: flex-end;
    margin: 0 30px;
    width: 100%;
  }

  .links {
    margin-left: 60px;;
  }
  

  .fab, .fas {
    font-size: 1.5em;
  }
}
